.error-container {
    background-color: rgba(0, 0, 0, 0.8);
    width: 300px;
    height: 150px;
    display: flex;
    border-radius: 3%;
    z-index: 9999;
    border: 2px solid #d9534f;
}

.error-container .error-container_text {
    margin: auto;
    color: #d9534f;
}